@model VariablesModel
@{
    ViewData["Title"] = "Rhombus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="col-xl-3 border border-success">
        <h5 class="text-center">Pole rombu</h5>
        <form asp-controller="AreaCalculator" asp-action="RhombusAndDeltoid" method="post">
            <div class="mb-3" style="max-width: 40rem; margin-top: 38px;">
                <div>
                    <label class="col-form-label mt-4" asp-for="RhombusSide">Podaj bok rombu:</label>
                    <input type="text" class="form-control" asp-for="RhombusSide" placeholder="Bok rombu" id="inputRhombusSide">
                    <label class="col-form-label mt-4" asp-for="RhombusHeight">Podaj wysokość rombu:</label>
                    <input type="text" class="form-control" asp-for="RhombusHeight" placeholder="Wysokość rombu" id="inputRhombusHeight">
                </div>
                <div class="d-grid gap-2" style="padding-top: 30px">
                    <button name="button" value="buttonFirst" class="btn btn-lg btn-success" asp-controller="AreaCalculator" asp-action="RhombusAndDeltoid" formmethod="post">Oblicz</button>
                </div>
                <div>
                    <label class="form-label mt-4" asp-for="Result">Pole rombu wynosi:</label>
                    <input class="form-control" id="readOnlyInput" type="text" value="@ViewBag.ResultArea" placeholder="Wynik" readonly="">
                </div>
            </div>
        </form>
    </div>
    <div class="col-xl-3 border border-success">
        <h5 class="text-center">Pole rombu(kąt alfa)</h5>
        <form asp-controller="AreaCalculator" asp-action="RhombusAndDeltoid" method="post">
            <div class="mb-3" style="max-width: 40rem; margin-top: 38px;">
                <div>
                    <label class="col-form-label mt-4" asp-for="RhombusSide">Podaj bok rombu:</label>
                    <input type="text" class="form-control" asp-for="RhombusSide" placeholder="Bok rombu" id="inputRhombusSide">
                    <label class="col-form-label mt-4" asp-for="RhombusAlfaAngle">Podaj kąt alfa rombu:</label>
                    <input type="text" class="form-control" asp-for="RhombusAlfaAngle" placeholder="Kąt alfa" id="inputRhombusAlfaAngle">
                </div>
                <div class="d-grid gap-2" style="padding-top: 30px">
                    <button name="button" value="buttonSecond" class="btn btn-lg btn-success" asp-controller="AreaCalculator" asp-action="RhombusAndDeltoid" formmethod="post">Oblicz</button>
                </div>
                <div>
                    <label class="form-label mt-4" asp-for="Result">Pole rombu wynosi:</label>
                    <input class="form-control" id="readOnlyInput" type="text" value="@ViewBag.ResultArea2" placeholder="Wynik" readonly="">
                </div>
            </div>
        </form>
    </div>
    <div class="col-xl-3 border border-success">
        <h5 class="text-center">Pole rombu(przekątne)</h5>
        <form asp-controller="AreaCalculator" asp-action="RhombusAndDeltoid" method="post">
            <div class="mb-3" style="max-width: 40rem; margin-top: 38px;">
                <div>
                    <label class="col-form-label mt-4" asp-for="FirstRhombusDiagonal">Podaj pierwszą przekątną rombu:</label>
                    <input type="text" class="form-control" asp-for="FirstRhombusDiagonal" placeholder="Pierwsza przekątna" id="inputFirstRhombusDiagonal">
                    <label class="col-form-label mt-4" asp-for="SecondRhombusDiagonal">Podaj drugą przekątną rombu:</label>
                    <input type="text" class="form-control" asp-for="SecondRhombusDiagonal" placeholder="Druga przekątna" id="inputSecondRhombusDiagonal">
                </div>
                <div class="d-grid gap-2" style="padding-top: 30px">
                    <button name="button" value="buttonThird" class="btn btn-lg btn-success" asp-controller="AreaCalculator" asp-action="RhombusAndDeltoid" formmethod="post">Oblicz</button>
                </div>
                <div>
                    <label class="form-label mt-4" asp-for="Result">Pole rombu wynosi:</label>
                    <input class="form-control" id="readOnlyInput" type="text" value="@ViewBag.ResultArea3" placeholder="Wynik" readonly="">
                </div>
            </div>
        </form>
    </div>
    <div class="col-xl-3 border border-success">
        <h5 class="text-center">Obwód rombu</h5>
        <form asp-controller="AreaCalculator" asp-action="RhombusAndDeltoid" method="post">
            <div class="mb-3" style="max-width: 40rem; margin-top: 38px;">
                <div>
                    <label class="col-form-label mt-4" asp-for="RhombusSide">Podaj bok rombu:</label>
                    <input type="text" class="form-control" asp-for="RhombusSide" placeholder="Bok rombu" id="inputRhombusSide">
                </div>
                <div class="d-grid gap-2" style="padding-top: 30px">
                    <button name="button" value="buttonFourth" class="btn btn-lg btn-success" asp-controller="AreaCalculator" asp-action="RhombusAndDeltoid" formmethod="post">Oblicz</button>
                </div>
                <div>
                    <label class="form-label mt-4" asp-for="Result">Pole rombu wynosi:</label>
                    <input class="form-control" id="readOnlyInput" type="text" value="@ViewBag.ResultCircuit" placeholder="Wynik" readonly="">
                </div>
            </div>
        </form>
    </div>
    <div class="col-xl-4 border border-success">
        <h5 class="text-center">Pole deltoidu(przekątne)</h5>
        <form asp-controller="AreaCalculator" asp-action="RhombusAndDeltoid" method="post">
            <div class="mb-3" style="max-width: 40rem; margin-top: 38px;">
                <div>
                    <label class="col-form-label mt-4" asp-for="FirstDeltoidDiagonal">Podaj pierwszą przekątną deltoidu:</label>
                    <input type="text" class="form-control" asp-for="FirstDeltoidDiagonal" placeholder="Pierwsza przekątna" id="inputFirstDeltoidDiagonal">
                    <label class="col-form-label mt-4" asp-for="SecondDeltoidDiagonal">Podaj drugą przekątną deltoidu:</label>
                    <input type="text" class="form-control" asp-for="SecondDeltoidDiagonal" placeholder="Druga przekątna" id="inputSecondDeltoidDiagonal">
                </div>
                <div class="d-grid gap-2" style="padding-top: 30px">
                    <button name="button" value="buttonFifth" class="btn btn-lg btn-success" asp-controller="AreaCalculator" asp-action="RhombusAndDeltoid" formmethod="post">Oblicz</button>
                </div>
                <div>
                    <label class="form-label mt-4" asp-for="Result">Pole deltoidu wynosi:</label>
                    <input class="form-control" id="readOnlyInput" type="text" value="@ViewBag.ResultAreaDeltoid" placeholder="Wynik" readonly="">
                </div>
            </div>
        </form>
    </div>
    <div class="col-xl-4 border border-success">
        <h5 class="text-center">Pole deltoidu(kąt alfa)</h5>
        <form asp-controller="AreaCalculator" asp-action="RhombusAndDeltoid" method="post">
            <div class="mb-3" style="max-width: 40rem; margin-top: 38px;">
                <div>
                    <label class="col-form-label mt-4" asp-for="FirstDeltoidSide">Podaj pierwszy bok deltoidu:</label>
                    <input type="text" class="form-control" asp-for="FirstDeltoidSide" placeholder="Pierwszy bok" id="inputFirstDeltoidSide">
                    <label class="col-form-label mt-4" asp-for="SecondDeltoidSide">Podaj drugi bok deltoidu:</label>
                    <input type="text" class="form-control" asp-for="SecondDeltoidSide" placeholder="Drugi bok" id="inputSecondDeltoidSide">
                    <label class="col-form-label mt-4" asp-for="DeltoidAlphaAngle">Podaj kąt alfa deltoidu:</label>
                    <input type="text" class="form-control" asp-for="DeltoidAlphaAngle" placeholder="Kąt alfa" id="inputDeltoidAlphaAngle">
                </div>
                <div class="d-grid gap-2" style="padding-top: 30px">
                    <button name="button" value="buttonSixth" class="btn btn-lg btn-success" asp-controller="AreaCalculator" asp-action="RhombusAndDeltoid" formmethod="post">Oblicz</button>
                </div>
                <div>
                    <label class="form-label mt-4" asp-for="Result">Pole deltoidu wynosi:</label>
                    <input class="form-control" id="readOnlyInput" type="text" value="@ViewBag.ResultAreaDeltoid2" placeholder="Wynik" readonly="">
                </div>
            </div>
        </form>
    </div>
    <div class="col-xl-4 border border-success">
        <h5 class="text-center">Obwód deltoidu</h5>
        <form asp-controller="AreaCalculator" asp-action="RhombusAndDeltoid" method="post">
            <div class="mb-3" style="max-width: 40rem; margin-top: 38px;">
                <div>
                    <label class="col-form-label mt-4" asp-for="FirstDeltoidSide">Podaj pierwszy bok deltoidu:</label>
                    <input type="text" class="form-control" asp-for="FirstDeltoidSide" placeholder="Pierwszy bok" id="inputFirstDeltoidSide">
                    <label class="col-form-label mt-4" asp-for="SecondDeltoidSide">Podaj drugi bok deltoidu:</label>
                    <input type="text" class="form-control" asp-for="SecondDeltoidSide" placeholder="Drugi bok" id="inputSecondDeltoidSide">
                </div>
                <div class="d-grid gap-2" style="padding-top: 30px">
                    <button name="button" value="buttonSeventh" class="btn btn-lg btn-success" asp-controller="AreaCalculator" asp-action="RhombusAndDeltoid" formmethod="post">Oblicz</button>
                </div>
                <div>
                    <label class="form-label mt-4" asp-for="Result">Pole deltoidu wynosi:</label>
                    <input class="form-control" id="readOnlyInput" type="text" value="@ViewBag.ResultDeltoidCircuit" placeholder="Wynik" readonly="">
                </div>
            </div>
        </form>
    </div>

</div>

